.card {
    background-image: url("deck2.png");

    width: 194px; 
    height: 108px;
    background-position: 0px 0px; 

    /* scaled up twice */
    background-size: 1746px 972px;
}

.card:hover {
    filter: invert(10%);
}

.card.marked {
    filter: invert(30%);
}

.card.marked:hover {
    filter: invert(20%);
}

