{% extends "base.html" %}

{% block content %}
<div class="internal-box">
  <h2>Active Games</h2>
  <br>
  <table id="room-table">
</div>
</table>
<form>
  <input type="text" id="roomname" name="Room"><br><br>
  <button onclick="createGame()">Create Game</button>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf-8">
  var socket = io.connect('http://' + document.domain + ':' + location.port);
  
  // verify our websocket connection is established
  socket.on('connect', function() {
      console.log('Websocket connected!');

      socket.emit('want_update_rooms');
  });

  // message handler for the 'join_room' channel
  socket.on('join_room', function(msg) {
      console.log(msg);
  });

  socket.on('update_rooms', function(rooms) {
      
      var rows = '<tr class="top-row"><th width="15%">Name</th><th width="10%">Max</th><th>Players</th><th width="10%"></th></tr>';

      for(i = 0; i<rooms.length; i++) {
	  var row = '<tr>';

	  var players = '';
	  for(j=0; j<rooms[i]["players"].length; j++) {
	      if (j>0) 
		  players += ", ";
	      players += rooms[i]["players"][j]["username"];
	  }
	  
	  row += '<td>' + rooms[i]['name'] + '</td>';
	  row += '<td>' + rooms[i]['size'] + '</td>';
	  row += '<td>' + players + '</td>';
	  row += '<td><button class="join-button">Join</button></td>';
	  rows += row + '</tr>';
      }
      
      $('#room-table').html(rows);
  })

  // createGame onclick - emit a message on the 'create' channel to 
  // create a new game with default parameters
  function createGame() {
      console.log('Creating game...');
      
      socket.emit('create', {username: 'noone', pwhash: '1203123', name: $('#roomname').val(), size: 'normal'});
  }
</script>
{% endblock %}
